/* Color schemes sourced from https://visme.co/blog/website-color-schemes/ */

:root{
    --black-and-blue: #17252A;
    --dark-cyan: #2B7A78;
    --modr-cyan: #3AAFA9;
    --lght-cyan: #DEF2F1;
    --pale-cyan: #FEFFFF;
}

html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
}

body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
    /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--pale-cyan);
    background-color: var(--black-and-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: var(--lght-cyan);
    font-weight: 700;
    line-height: 1.1;
}
  
h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
}
  
h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

/* header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
} */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* padding: 1%; */
    background-color: var(--black-and-blue);
}

header h1 {
    padding: 2.5rem;
    color: var(--pale-cyan);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    background-color: var(--dark-cyan);
    color: var(--pale-cyan);
    border-bottom: 1px solid var(--black-and-blue);
}

nav a:hover {
    background-color: var(--lght-cyan);
    color: var(--black-and-blue);
}

.background-image {
    height: 500px;
    width: 100%;
    background-image: url("../images/shenandoah-mtns.jpg");
    background-size: cover;
    background-position: center;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: var(--modr-cyan);
    gap: 3rem;
}

#about-me h2 {
    margin: 5% 0 0 0;
    color: var(--black-and-blue);
    text-align: center;
    border-bottom: 1px solid var(--black-and-blue);
    width: 75%;
    padding: 1rem;
}

#about-me img {
    width: 75%;
    max-width: 250px;
    border-radius: 100%;
    border: 10px solid var(--dark-cyan);
    /* margin: 2.5rem; */
}

#about-me figure {
    width: 75%;
    text-align: left;
    background-color: var(--dark-cyan);
    color: var(--pale-cyan);
    padding: 2rem;
    border-radius: 25px;
    margin-bottom: 5rem;
}

#about-me p {
    margin-bottom: 1.2rem;
}

#about-me ul {
    list-style-type: disc;
    margin-left: 2rem;
}

/* When using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) { */
@media screen and (min-width: 992px) {
    header {
        flex-direction: row;
    }
    nav {
        flex-direction: row;
        justify-content: space-between;
        min-width: 450px;
        padding: 1rem;
    }
    nav a{
        background-color: var(--dark-cyan);
        border-radius: 25px;
        width: 135px;
        
    }
    .background-image {
        height: 800px;
    }
    #about-me {
        flex-direction: row;
        /* align-items: stretch; */
        min-height: 500px;
    }
    #about-me h2 {
        min-height: 75%;
        max-height: 400px;
        width: 25%;
        /* background-color: #DEF2F1; */
        color: var(--pale-cyan);
        margin: 0;
        border-bottom: none;
        border-right: 10px solid var(--dark-cyan);
        padding: 10rem 5rem;
        flex-grow: 1;
    }
    #about-me figure {
        margin: 0 5rem 0 0;
    }
}
